.grid-gif{
  display: flex;
  flex-wrap: wrap;
  gap: 5px ;
  align-items: start;
}

.copy{
  position: absolute;
  top: 0;

}

.copy button{
  width: 100%;
  background-color: rgba(0, 0, 0,.8);
  color: aliceblue;
  border: none;
  padding: 0 5px;
}

.gif-item{
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0,.8);
}

.gif-item button:active{

  scale: 1.1;
  background-color: black;

}